.contact {
  min-height: 49.18rem;
  background-image: url("../assets/Background_Contacts.png");
  background-size: cover;
  background-position: center;
}

.contact__title {
  color: var(--color-purple);
}

.contact__text {
  font: var(--font-text-md);
  color: var(--gray-500);
}

.social-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}

.social-links__item {
  display: flex;
  align-items: center;
  width: 25rem;
  height: 4.25rem;
  border-radius: 8px;
  background-color: var(--gray-300);
  text-decoration: none;
  padding-inline: 1.375rem;
  font: var(--font-text-md);
  color: var(--gray-500);
}

.social-links__item:hover {
  outline: 1px solid var(--color-blue);
}

.social-links__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.75rem;
}

.social-links__arrow {
  margin-left: auto;
  width: 1.25rem;
  height: 1.25rem;
}
