:root {
  --color-red: #e3646e;
  --color-purple: #bb72e9;
  --color-blue: #3996db;
  --color-green: #82bc4f;
  --color-yellow: #eabd5f;

  --gray-100: #0d0e11;
  --gray-200: #161b1d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  --font-asap: "Asap", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;
  --font-maven: "Maven Pro", sans-serif;

  --font-title-lg: bold 56px/120% var(--font-asap);
  --font-title-md: bold 24px/120% var(--font-asap);
  --font-title-sm: bold 16px/120% var(--font-asap);

  --font-subtitle: normal 20px/120% var(--font-inconsolata);

  --font-text-md: normal 16px/140% var(--font-maven);
  --font-text-sm: normal 14px/140% var(--font-maven);

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-200);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  gap: 0.5rem;
  width: 100%;
}

.section__title {
  font: var(--font-subtitle);
}

.section__subtitle {
  font: var(--font-title-md);
  color: var(--gray-600);
}
